{% extends 'base.html.twig' %}

{% block body %}
    <!-- Playlist section -->
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Menu Card</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control" data-filter=".Drink">Drink</li>
                    <li class="control" data-filter=".Appetizer">Appetizer</li>
                    <li class="control" data-filter=".Maindish">Maindish</li>
                    <li class="control" data-filter=".Dessert">Dessert</li>
                    <li class="control" data-filter="all">All Dishes</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row playlist-area">
                {% for dish in dishes %}
                    <div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.category }}">
                        <div class="playlist-item">
                            <img src="{{ asset('images/' ~ dish.image) }}" class="img-responsive" alt="">
                            <h5>{{ dish.description }} - EUR {{ dish.price }}</h5>
                            <p>Order No.{{ dish.id }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Playlist section end -->

{% endblock %}
