{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
    <h2>Edit dishes</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Order No.</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Delete</td>
                <td><a href="{{ path('dish.create') }}">Create</a></td>
            </tr>
        </thead>
        <tbody>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.description }}</td>
                    <td>{{ dish.price }}</td>
                    <td><a href="{{ path('dish.delete', {id: dish.id}) }}">Delete</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
